// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//variáveis personalizadas
:root{
    --ms-bg-color: #cde1cd;
    --ms-nav-color: beige;
    --ms-fg-color: #ffffff;
    --ms-border-color: #000000;
}
